version: '3.9'
services:
  backend:
    build: .
    container_name: analytics_backend
    ports:
      - "8000:8000"
    restart: always
    environment:
      - DEBUG=False
    volumes:
      - .:/app

  frontend:
    build: ./frontend
    container_name: analytics_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

